<form action="/cart" method="post">
    <input type="hidden" name="prodId" value="<%= product._id %>">
    <button type="submit" style="margin-left: 10px;"
        class="btn btn-primary btn-sm">Add to
        cart</button>
</form>