<footer class="bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a class="text-light" href="#">Home</a></li>
                    <li><a class="text-light" href="#">Shop</a></li>
                    <li><a class="text-light" href="#">Categories</a></li>
                    <li><a class="text-light" href="#">About Us</a></li>
                    <li><a class="text-light" href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: info@example.com</p>
                <p>Phone: +1 123-456-7890</p>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-light" href="#"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a class="text-light" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a class="text-light" href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a class="text-light" href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p>&copy; 2023 Your E-Commerce Store. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

</body>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'colvis']
        });

        table.buttons().container()
            .appendTo('#example_wrapper .col-md-6:eq(0)');
    });
</script>

</html>